* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    overflow: auto;
}

.col-lg-1 {
    width: calc(100%*1/12);
}

.col-lg-2 {
    width: calc(100%*2/12);
}

.col-lg-3 {
    width: calc(100%*3/12);
}

.col-lg-4 {
    width: calc(100%*4/12);
}

.col-lg-5 {
    width: calc(100%*5/12);
}

.col-lg-6 {
    width: calc(100%*6/12);
}

.col-lg-7 {
    width: calc(100%*7/12);
}

.col-lg-8 {
    width: calc(100%*8/12);
}

.col-lg-9 {
    width: calc(100%*9/12);
}

.col-lg-10 {
    width: calc(100%*10/12);
}

.col-lg-11 {
    width: calc(100%*11/12);
}

.col-lg-12 {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.thumbnail {
    border: 1px solid #ddd;
    float: left;
    padding: 4px;
    text-align: center;
    min-width: 80%;
}

.thumbnail img {
    width: 100%;
}

.jumbotron {
    padding: 20px;
    border-radius: 10px;
    background-color: #F7D94C;
    margin-bottom: 20px;
}

body {
    padding-top: 10px;
}

header {
    background-color: #1C1C1C;
    position: fixed;
    text-align: right;
    top: 0px;
    left: 0px;
    width: 100%;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav li {
    padding: 5px;
    display: inline-block;
    color: #eee;
}

.btn {
    border-radius: 5px;
    height: 34px;
    padding: 6px 12px;
}

.btn-primary {
    background-color: #286090;
    border: 1px solid #1C1C1C;
    color: white;
}

.btn-default {
    background-color: white;
    border: 1px solid #1C1C1C;
    color: #333333;
}

@media screen and (min-width:769px)and (max-width:1199px) {
    .col-md-1 {
        width: calc(100%*1/12);
    }
    .col-md-2 {
        width: calc(100%*2/12);
    }
    .col-md-3 {
        width: calc(100%*3/12);
    }
    .col-md-4 {
        width: calc(100%*4/12);
    }
    .col-md-5 {
        width: calc(100%*5/12);
    }
    .col-md-6 {
        width: calc(100%*6/12);
    }
    .col-md-7 {
        width: calc(100%*7/12);
    }
    .col-md-8 {
        width: calc(100%*8/12);
    }
    .col-md-9 {
        width: calc(100%*9/12);
    }
    .col-md-10 {
        width: calc(100%*10/12);
    }
    .col-md-11 {
        width: calc(100%*11/12);
    }
    .col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    body {
        padding-top: 40px;
    }
    .container {
        width: 100%;
        min-width: 300px;
    }
    nav li {
        width: 50%;
        padding: 5px;
        display: none;
        color: #eee;
    }
    .col-sm-1 {
        width: calc(100%*1/12);
    }
    .col-sm-2 {
        width: calc(100%*2/12);
    }
    .col-sm-3 {
        width: calc(100%*3/12);
    }
    .col-sm-4 {
        width: calc(100%*4/12);
    }
    .col-sm-5 {
        width: calc(100%*5/12);
    }
    .col-sm-6 {
        width: calc(100%*6/12);
    }
    .col-sm-7 {
        width: calc(100%*7/12);
    }
    .col-sm-8 {
        width: calc(100%*8/12);
    }
    .col-sm-9 {
        width: calc(100%*9/12);
    }
    .col-sm-10 {
        width: calc(100%*10/12);
    }
    .col-sm-11 {
        width: calc(100%*11/12);
    }
    .col-sm-12 {
        width: 100%;
    }
}
