p {
    font-size: 17px;
    color: #red;
}

h3 {
    font-size: 25 px;
    color: #858585;
}

h2 {
    color: #33cccc;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    background-color: red;
}
