.nav a {
    color: #c5c5c5;
    font-size: 16px;
    padding: 4px;
    margin-right: 30px;
    text-decoration: none;
}

a:hover {
    font-size: 16px;
    color: #efefef;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    padding-top: 12px;
}

.jumbotron {
    background-color: #061524;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbtron .container {
    position: relative;
    padding-top: 40px;
}

.jumbotron h1 {
    color: white;
    font-size: 56px;
    font-family: Helvetica thin, Helvetica, sans-serif;
}

.jumbotron p {
    font-size: 20px;
    color: #c5c5c5;
    padding-top: 36px;
}
