h1 {
    color: #aa1155; font-size: 30px;
}

h2 {
    color: green;
}

p {
    color: yellow;
}

p {
    font-size: 24px;
}

tr {
    color: white;
}

body {
    font-weight: bold;
    font-style: italic;
    background-color: gray;font-family: times, helvetica, arial, sans-serif;
}
