@import "compass/css3";
#progress-bar {
    position: relative;
    border: 1px solid #7D532C;
    width: 0;
    height: 22px;
    margin-left: 5%;
    background: repeating-linear-gradient(-45deg, #ED784A, #ED784A 10px, #FB966E 10px, #FB966E 20px);
    border-radius: 0.8em;
    animation: roll 6s linear;
    box-shadow: inset 0 10px 10px rgba(143, 90, 06, 0.2), inset 0 1px 0 rgba(143, 90, 06, 0.3), inset 0 -5px 3px rgba(143, 90, 06, 0.2), inset 0 3px 2px rgba(143, 90, 06, 0.3);
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

#progress-bar:after {
    width: 338px;
    height: 28px;
    border: 1px solid rgba(143, 90, 06, 0.8);
    background: #7D532C;
    border-radius: 1em;
    display: block;
    content: "";
    position: absolute;
    left: -5px;
    top: -4px;
    z-index: -1;
}

@-moz-keyframes roll {
    0% {
        width: 0;
    }
    100% {
        width: 330px;
    }
}

@-webkit-keyframes roll {
    0% {
        width: 0;
    }
    100% {
        width: 330px;
    }
}

h1 {
    color: gray;
    margin: 24px;
}

h4 {
    color: #dedede;
}

.container {
    width: 400px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    text-align: center;
}

.wrap {
    width: 200px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#body {
    animation-delay: 0.3s;
    animation-duration: 1s;
}

#h1 {
    animation-delay: 1.2s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
}
